// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  color:black;
  width: 100%;
}
a:link{
  text-decoration: none;
}
main, .connexion{
  width: 800px;
  margin: 0 auto;
}
.row {
  margin: auto;
}
article{
  margin-top: 10px;
}

img{
  padding-top: 20px;
}
.img_big{
  width: 300px;
}
.img_small{
  width: 150px;
}
.nav img{
  width: 40px;
}
header .nav li{
  font-size: 16px;
  margin-right: 40px;
  padding-top: 30px;
}

footer .nav li{
  margin-left: 230px;
}


footer{
  margin-top: 70px;
  margin-bottom: 0px;
}
.centre {
  margin-left : 100px;
  margin-right : auto;
}

.vignette{
  width: 50px;
}
.moyenne{
  width: 100px;
}
 .logo{
   width: 300px;
   padding-left: 25px;
 }

.moins img, .plus img{
  width: 20px;
}

.error{
  color: red;
}

.alert{
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.alert.success{
  color: green;
}
.alert.fail{
  color: red;
}
.quantity{
  width: 20px;
}

